%h3=@question.content
=simple_form_for(SubmissionSelection.new) do |f|
	=f.input :choice_id, collection: @question.choices, as: :radio_buttons,
       checked: @question.choices.first.id
	=f.hidden_field :submission_id, value: session[:submission]['id']
	=f.button :submit, "Submit Answer"
