- if session[:submission].present?
	%h3 Welcome Back
- else
	%h3 Please provide your name to start the quiz
	=simple_form_for(Submission.new) do |f|
		=f.input :guest_name
		=f.button :submit, "Start Quiz"