- valid_selections = SubmissionSelection.all_valid.group(:choice_id).count 
- Question.all.each do |question|
    %h1 Question: #{question.content}
    - choice_names = Hash[question.choices.pluck :id, :name]
    = column_chart valid_selections.select{|k,v| k.in?(question.choice_ids)}.collect{|k,v| [choice_names[k],v]}